<!DOCTYPE html>
<html>

<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>

<body ng-controller="mainCtrl">

    <div class="container">
       

        <div style="margin-left: 600px; margin-top: 100px; margin-right: 10px" ; border: 1px solid; border-radius: 10px;color:white" ng-controller="mainCtrl ">
  <h1 STYLE="padding-left: 30px; padding-top: 10px; color: white;padding-right: 30px; padding-bottom: 10px; text-align: center ">I will make you an offer you cannot refuse</h1>


<center><button class="btn btn-success" ng-click="mainClick()">Go</button></center>


  </div>
  

  </div>
  
</body>
</html>
